<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/ui/nav_destktop.ejs') %>
  <section class="body">
    <%- include('./partials/ui/top_bar.ejs') %>
    <main class="main-content">
      <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
        <img src="assets/building.gif" alt="not found img">
      </div>
    </main>
  </section>

</body>

</html>