<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/ui/nav_destktop.ejs') %>
  <section class="body">
    this is the body
  </section>
</body>

</html>