<section class="filter-bar">
  <div class="filter-container">
    <div class="filter-section">
      <img src="assets/logo.svg" alt="logo">
      <div class="filter-details">
        <p class="filter-type">Brand</p>
        <p class="filter-name">All</p>
      </div>
    </div>
    <div class="filter-section">
      <img src="assets/location.svg" alt="logo">
      <div class="filter-details">
        <p class="filter-type">Location</p>
        <p class="filter-name">Koforidua</p>
      </div>
    </div>
    <div class="filter-section">
      <img src="assets/book.svg" alt="pick up">
      <div class="filter-details">
        <p class="filter-type">Pick Up</p>
        <p class="filter-name">Koforidua</p>
      </div>
    </div>
    <div class="filter-section">
      <img src="assets/book.svg" alt="drop off">
      <div class="filter-details">
        <p class="filter-type">Drop Off</p>
        <p class="filter-name">Koforidua</p>
      </div>
    </div>
  </div>
</section>