<section class="nav-bar nav-bar--desktop">
  <img src="assets/logo.svg" alt="app logo" class="logo">
  <nav class="nav nav-links">

    <a href="/" class="nav-link  <%= page == "home"? "nav-link--active":"nav-link--normal" %>">
      <span class="bar"></span>
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.166 17.0336V14.0336M3.86038 17.3658L3.34597 11.1929C3.23371 9.84587 3.80939 8.53323 4.87639 7.70335L9.71027 3.94366C11.1547 2.82021 13.1773 2.82021 14.6218 3.94367L19.4557 7.70335C20.5227 8.53323 21.0983 9.84587 20.9861 11.1929L20.4717 17.3658C20.2989 19.439 18.5659 21.0336 16.4855 21.0336H7.84656C5.7662 21.0336 4.03314 19.439 3.86038 17.3658Z" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>

    <a href="/book" class="nav-link  <%= page == "book"? "nav-link--active":"nav-link--normal" %>">
      <span class="bar"></span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 21.75C11.4142 21.75 11.75 21.4142 11.75 21C11.75 20.5858 11.4142 20.25 11 20.25V21.75ZM7.25 7C7.25 7.41421 7.58579 7.75 8 7.75C8.41421 7.75 8.75 7.41421 8.75 7H7.25ZM8.75 3C8.75 2.58579 8.41421 2.25 8 2.25C7.58579 2.25 7.25 2.58579 7.25 3H8.75ZM15.25 7C15.25 7.41421 15.5858 7.75 16 7.75C16.4142 7.75 16.75 7.41421 16.75 7H15.25ZM16.75 3C16.75 2.58579 16.4142 2.25 16 2.25C15.5858 2.25 15.25 2.58579 15.25 3H16.75ZM8.01 10.75C8.42421 10.75 8.76 10.4142 8.76 10C8.76 9.58579 8.42421 9.25 8.01 9.25V10.75ZM8 9.25C7.58579 9.25 7.25 9.58579 7.25 10C7.25 10.4142 7.58579 10.75 8 10.75V9.25ZM8.01 13.75C8.42421 13.75 8.76 13.4142 8.76 13C8.76 12.5858 8.42421 12.25 8.01 12.25V13.75ZM8 12.25C7.58579 12.25 7.25 12.5858 7.25 13C7.25 13.4142 7.58579 13.75 8 13.75V12.25ZM8.01 16.75C8.42421 16.75 8.76 16.4142 8.76 16C8.76 15.5858 8.42421 15.25 8.01 15.25V16.75ZM8 15.25C7.58579 15.25 7.25 15.5858 7.25 16C7.25 16.4142 7.58579 16.75 8 16.75V15.25ZM12.01 13.75C12.4242 13.75 12.76 13.4142 12.76 13C12.76 12.5858 12.4242 12.25 12.01 12.25V13.75ZM12 12.25C11.5858 12.25 11.25 12.5858 11.25 13C11.25 13.4142 11.5858 13.75 12 13.75V12.25ZM12.01 10.75C12.4242 10.75 12.76 10.4142 12.76 10C12.76 9.58579 12.4242 9.25 12.01 9.25V10.75ZM12 9.25C11.5858 9.25 11.25 9.58579 11.25 10C11.25 10.4142 11.5858 10.75 12 10.75V9.25ZM16.01 10.75C16.4242 10.75 16.76 10.4142 16.76 10C16.76 9.58579 16.4242 9.25 16.01 9.25V10.75ZM16 9.25C15.5858 9.25 15.25 9.58579 15.25 10C15.25 10.4142 15.5858 10.75 16 10.75V9.25ZM18.25 15.5C18.25 15.0858 17.9142 14.75 17.5 14.75C17.0858 14.75 16.75 15.0858 16.75 15.5H18.25ZM16.75 19.5C16.75 19.9142 17.0858 20.25 17.5 20.25C17.9142 20.25 18.25 19.9142 18.25 19.5H16.75ZM15.5 16.75C15.0858 16.75 14.75 17.0858 14.75 17.5C14.75 17.9142 15.0858 18.25 15.5 18.25V16.75ZM19.5 18.25C19.9142 18.25 20.25 17.9142 20.25 17.5C20.25 17.0858 19.9142 16.75 19.5 16.75V18.25ZM12.01 16.75C12.4242 16.75 12.76 16.4142 12.76 16C12.76 15.5858 12.4242 15.25 12.01 15.25V16.75ZM12 15.25C11.5858 15.25 11.25 15.5858 11.25 16C11.25 16.4142 11.5858 16.75 12 16.75V15.25ZM16.01 13.75C16.4242 13.75 16.76 13.4142 16.76 13C16.76 12.5858 16.4242 12.25 16.01 12.25V13.75ZM16 12.25C15.5858 12.25 15.25 12.5858 15.25 13C15.25 13.4142 15.5858 13.75 16 13.75V12.25ZM6 5.75H18V4.25H6V5.75ZM3.75 18V8H2.25V18H3.75ZM11 20.25H6V21.75H11V20.25ZM20.25 8V10.5H21.75V8H20.25ZM2.25 18C2.25 20.0711 3.92893 21.75 6 21.75V20.25C4.75736 20.25 3.75 19.2426 3.75 18H2.25ZM18 5.75C19.2426 5.75 20.25 6.75736 20.25 8H21.75C21.75 5.92893 20.0711 4.25 18 4.25V5.75ZM6 4.25C3.92893 4.25 2.25 5.92893 2.25 8H3.75C3.75 6.75736 4.75736 5.75 6 5.75V4.25ZM8.75 7V3H7.25V7H8.75ZM16.75 7V3H15.25V7H16.75ZM8.01 9.25H8V10.75H8.01V9.25ZM8.01 12.25H8V13.75H8.01V12.25ZM8.01 15.25H8V16.75H8.01V15.25ZM12.01 12.25H12V13.75H12.01V12.25ZM12.01 9.25H12V10.75H12.01V9.25ZM16.01 9.25H16V10.75H16.01V9.25ZM16.75 15.5V17.5H18.25V15.5H16.75ZM16.75 17.5V19.5H18.25V17.5H16.75ZM15.5 18.25H17.5V16.75H15.5V18.25ZM17.5 18.25H19.5V16.75H17.5V18.25ZM12.01 15.25H12V16.75H12.01V15.25ZM16.01 12.25H16V13.75H16.01V12.25Z" fill="#363538" />
      </svg>
    </a>

    <a href="/profile" class="nav-link  <%= page == "profile"? "nav-link--active":"nav-link--normal" %>">
      <span class="bar"></span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M5 17V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V17C19 15.3431 17.6569 14 16 14H8C6.34315 14 5 15.3431 5 17Z" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>

    <a href="/settings" class="nav-link  <%= page == "settings"? "nav-link--active":"nav-link--normal" %>">
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.4375 3H11.4375C10.3329 3 9.43751 3.89543 9.43751 5C9.43751 5.80171 8.56963 6.30278 7.87533 5.90192C6.91874 5.34964 5.69556 5.67739 5.14328 6.63397L4.14328 8.36602C3.59099 9.32261 3.91874 10.5458 4.87533 11.0981C5.56962 11.4989 5.5696 12.5011 4.8753 12.9019C3.91872 13.4542 3.59097 14.6774 4.14325 15.634L5.14325 17.366C5.69554 18.3226 6.91872 18.6504 7.8753 18.0981C8.56961 17.6972 9.43751 18.1983 9.43751 19C9.43751 20.1046 10.3329 21 11.4375 21H13.4375C14.5421 21 15.4375 20.1046 15.4375 19C15.4375 18.1983 16.3054 17.6972 16.9997 18.0981C17.9563 18.6504 19.1794 18.3226 19.7317 17.366L20.7317 15.634C21.284 14.6774 20.9563 13.4542 19.9997 12.9019C19.3054 12.5011 19.3054 11.4989 19.9997 11.0981C20.9562 10.5458 21.284 9.3226 20.7317 8.36602L19.7317 6.63397C19.1794 5.67738 17.9562 5.34963 16.9997 5.90191C16.3054 6.30276 15.4375 5.8017 15.4375 5C15.4375 3.89543 14.5421 3 13.4375 3Z" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M14.4375 12C14.4375 13.1046 13.5421 14 12.4375 14C11.3329 14 10.4375 13.1046 10.4375 12C10.4375 10.8954 11.3329 10 12.4375 10C13.5421 10 14.4375 10.8954 14.4375 12Z" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
  </nav>
  <form action="/logout?_method=DELETE" method="POST" class="logout-form">
    <button type="submit" class="button icon-button"> <span class="spin"></span>
      <svg width="42" height="40" viewBox="0 0 42 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.75 12H17.75C16.0931 12 14.75 13.3431 14.75 15V25C14.75 26.6569 16.0931 28 17.75 28H21.75" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M22.75 20H28.75" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M26 17L29.25 20L26 23" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </form>
</section>