<section class="top-bar">
  <div class="user-details">
    <img src="assets/user1.svg" alt="user profile" class="user-profile-img">
    <p>Hello User</p>
  </div>
  <form action="/" method="post" class="search-container">
    <div aria-label="Search" class="search">
      <button type="submit" class="icon-button">
        <img src="assets/search.svg" alt="search">
      </button>
      <input type="search" name="search" placeholder="Search" id="search">
    </div>
    <button class="icon-button icon-button--filled filter">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 8C12 6.34315 10.6569 5 9 5C7.34315 5 6 6.34315 6 8M12 8C12 9.65685 10.6569 11 9 11C7.34315 11 6 9.65685 6 8M12 8H20M6 8H4M18 16C18 14.3431 16.6569 13 15 13C13.3431 13 12 14.3431 12 16M18 16C18 17.6569 16.6569 19 15 19C13.3431 19 12 17.6569 12 16M18 16H20M12 16H4" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </form>
  <div class="top-end">
    <div class="location">
      <button class="icon-button icon-button--filled">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 10.2194C15 11.8762 13.6569 13.2194 12 13.2194C10.3431 13.2194 9 11.8762 9 10.2194C9 8.56251 10.3431 7.21936 12 7.21936C13.6569 7.21936 15 8.56251 15 10.2194Z" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12 3.21936C8.13401 3.21936 5 6.35337 5 10.2194C5 11.9329 5.61568 13.5026 6.63789 14.7194L10.373 19.9437C11.1707 21.0595 12.8293 21.0595 13.627 19.9437L17.3621 14.7194C18.3843 13.5026 19 11.9329 19 10.2194C19 6.35337 15.866 3.21936 12 3.21936Z" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <p>Koforidua</p>
    </div>

    <button class="icon-button">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4732 18.4265H5.91753C5.03967 18.4265 4.61389 17.3528 5.25315 16.7512C6.03171 16.0184 6.47316 14.9967 6.47316 13.9276V11.25C6.47316 7.9363 9.15945 5.25 12.4732 5.25M10.4732 18.4265V19.25C10.4732 20.3546 11.3686 21.25 12.4732 21.25C13.5777 21.25 14.4732 20.3546 14.4732 19.25V18.4265M10.4732 18.4265H14.4732M14.4732 18.4265H19.0288C19.9066 18.4265 20.3324 17.3528 19.6932 16.7512C18.9146 16.0184 18.4732 14.9967 18.4732 13.9276V11.25C18.4732 7.93629 15.7869 5.25 12.4732 5.25M12.4732 5.25V3.75" stroke="#363538" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>

</section>