*,
*::before,
*::after,
:root {
    box-sizing: border-box;
}

:root {
    --background-color: #F6F6F8;
    --color-primary: #FF5621;
    --color-primary-background: rgba(255, 86, 33, .03);
    --section-color: #fff;
    --text-color-light: #5C626B;

    --on-section-color-light: #F5F5F7;
}

a:is(:link, :hover, :active, :visited) {
    text-decoration: none;
    color: var(--color-primary);

}

@font-face {
    font-family: 'Google Sans';
    src: url('ProductSans-Regular.ttf');
}

body {
    background-color: var(--background-color);
    display: flex;
    overflow: hidden;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Google Sans;
    color: var(--text-color-light);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}



/*------------ Navigation bar styles -------------*/
.nav-bar {
    background-color: var(--section-color);
    border-radius: 1.25rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;

    &.nav-bar--desktop {
        min-width: 5.625rem;
        padding: 1rem;
    }

    .logo {
        width: 2.5rem;

    }
}

/* nav tag */
.nav-links {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 2rem;
}

.nav-link {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .bar {
        height: 0;
        width: 0;
        position: absolute;
        background-color: var(--color-primary);
    }

    &.nav-link--active {
        background-color: var(--color-primary-background);

        & svg path {
            stroke: var(--color-primary);
        }

        & .bar {
            width: 3px;
            height: 1.2rem;
            left: 0;
            border-radius: 2px;
        }
    }
}

/* --------------- Page body styles ---------------- */
.body {
    flex: 1;
    height: inherit;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* --------------- Top Bar ---------------- */
.user-profile-img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}

.top-bar {
    display: flex;
    background-color: var(--section-color);
    border-radius: 1.25rem;
    padding: 1rem;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: .5;
    margin-right: 2rem;

    .user-details {
        display: flex;
        align-items: center;

        gap: .625rem;
    }

    form {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .search {
        background-color: var(--on-section-color-light);
        padding: 0 0.75rem;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        gap: .6rem;
        height: 3rem;

        input[type="Search"] {
            height: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            width: 18.75rem;
            padding: 0.5rem 0;
            height: 3rem;
            line-height: 1;
            font-size: 1.125rem;
            font-family: Google Sans;
        }

        input[type="Search"]:focus {
            outline: none;
            border: none;
        }

        input[type="Search"]::placeholder {
            color: var(--text-color-light);
        }
    }

    .top-end {
        display: flex;
        align-items: center;
        gap: 2rem;

        .location {
            display: flex;
            gap: .625rem;
        }
    }

}

.icon-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-button--filled {
    background-color: var(--on-section-color-light);
    border-radius: 1.25rem;
    width: 2.82rem;
    height: 2.82rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    overflow-y: auto;
    padding-right: 2rem;
}

.section+.section {
    margin-top: 3rem;
}

.brands {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;

    .car-brand {
        background-color: var(--section-color);
        width: 6.875rem;
        height: 8.75rem;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .brand-name {
            font-size: 1.125rem;
            margin: 0;
            font-weight: 500;
        }
    }
}

.cars {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 1.5rem;

    .car {
        background-color: var(--section-color);
        padding: .75rem .75rem 1.5rem .75rem;
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .car-image {
            height: 10rem;
            border-radius: .938rem;
            width: 100%;
            object-fit: cover;
        }

        .car-description {
            line-height: 1.5;

            & p {
                margin: 0;
            }
        }

        .car-details {
            display: flex;
            gap: 1rem;
            margin: .2rem;
            font-size: 1rem;

            .car-name {
                font-weight: 600;
            }



            .car-location {
                margin-left: auto;
                display: flex;
                gap: .625rem;

                & img {
                    height: calc(1em * 1.5);
                }
            }
        }

        .car-rating {
            display: flex;
            gap: 1rem;
            align-items: center;
            font-weight: 600;

            & img {
                width: 1.3rem;
            }
        }

        .pricing {
            font-weight: 600;

            .price {
                color: var(--color-primary);
            }
        }

        .action {
            display: flex;
            justify-content: space-between;
        }
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;

    & p {
        margin: 0;
        font-weight: 600;
        font-size: 1.125rem;
    }
}

button {
    cursor: pointer;
}

.button {
    padding: .75rem 1rem;
    font-size: 1rem;
    line-height: 1;
}

.button-filled {
    color: #fff;
    background-color: var(--color-primary);
    border: none;
    border-radius: .938rem;
    font-family: Google Sans;
}

.filter-bar {
    display: flex;
    justify-content: center;

    .filter-container {
        border-radius: 100px;
        background-color: var(--section-color);
        display: flex;
        padding: 1rem 1.25rem;
        gap: 1rem;

        .filter-section {
            display: flex;
            padding: 0 1rem;
            gap: .625rem;
            line-height: 1.5;

            & p {
                margin: 0;
            }

            .filter-type {
                font-size: .9rem;
            }

            .filter-name {
                font-size: 1.125rem;
            }
        }

        .filter-section+.filter-section {
            border-left: 2px solid var(--background-color);
        }

    }
}